* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: -30px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid rgb(59, 208, 245);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  top: 12px;
  right: 12px;
  background: rgb(35, 203, 245);
  box-shadow: 0 0 0 5px rgba(29, 187, 226, 0.5),
    0 0 0 10px rgba(29, 187, 226, 0.3), 0 0 0 15px rgba(29, 187, 226, 0.15);
}
.circle:nth-child(2) {
  animation: animate2 4s linear infinite;
  animation-delay: -3s;
  border-top: 4px solid transparent;
  border-left: 4px solid rgb(228, 247, 58);
}
.circle:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: initial;
  bottom: 12px;
  left: 12px;
  background: rgb(228, 247, 58);
  box-shadow: 0 0 0 5px rgba(228, 247, 58, 0.5),
    0 0 0 10px rgba(228, 247, 58, 0.3), 0 0 0 15px rgba(228, 247, 58, 0.15);
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.circle:nth-child(3) {
  position: absolute;
  top: -66.66px;
  animation: animate2 4s linear infinite;
  animation-delay: -0.4s;
  border-top: 4px solid transparent;
  border-left: 4px solid rgb(255, 11, 11);
}
.circle:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: initial;
  bottom: 12px;
  left: 12px;
  background: rgb(255, 11, 11);
  box-shadow: 0 0 0 5px rgba(255, 11, 11, 0.5),
    0 0 0 10px rgba(255, 11, 11, 0.3), 0 0 0 15px rgba(228, 247, 58, 0.15);
}
.container p {
  position: absolute;
  color: #fff;
  font-size: 2.5em;
  bottom: -90px;
  letter-spacing: 0.15em;
  font-family: "Courier New", Courier, monospace;
}
